<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.triumers.kmsback.quiz.query.repository.QuizMapper">

    <resultMap id="quizResultMap" type="org.triumers.kmsback.quiz.query.aggregate.entity.QryQuiz">
        <id property="id" column="ID"/>
        <result property="content" column="CONTENT"/>
        <result property="answer" column="ANSWER"/>
        <result property="commentary" column="COMMENTARY"/>
        <result property="status" column="STATUS"/>
        <result property="questionId" column="QUESTION_ID"/>
        <result property="postId" column="POST_ID"/>
        <result property="tapId" column="TAB_ID"/>
    </resultMap>

    <select id="findQuizByStatus" resultMap="quizResultMap" parameterType="org.triumers.kmsback.quiz.query.aggregate.entity.QryQuiz">
        SELECT
               ID
             , CONTENT
             , ANSWER
             , COMMENTARY
             , STATUS
             , QUESTIONER_ID
             , POST_ID
             , TAB_ID
          FROM tbl_quiz
         WHERE STATUS = #{status}
    </select>

    <select id="findQuizById" resultMap="quizResultMap" parameterType="org.triumers.kmsback.quiz.query.aggregate.entity.QryQuiz">
        SELECT
               ID
             , CONTENT
             , ANSWER
             , COMMENTARY
             , STATUS
             , QUESTIONER_ID
             , POST_ID
             , TAB_ID
          FROM tbl_quiz
         WHERE ID = #{id}
    </select>

</mapper>