<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.triumers.kmsback.anonymousboard.query.repository.QryAnonymousBoardCommentMapper">
    <!-- mapper 내용 -->
    <select id="findAllAnonymousBoardComment" resultType="org.triumers.kmsback.anonymousboard.query.dto.QryAnonymousBoardCommentDTO">
        SELECT id, nickname, content, created_date AS createdDate, mac_address AS macAddress, anonymous_board_id
        FROM tbl_anonymous_board_comment
        WHERE anonymous_board_id = #{anonymousBoardId}
        ORDER BY id DESC
            LIMIT #{pageable.pageSize} OFFSET #{pageable.offset}
    </select>

    <select id="countAnonymousBoardComment" resultType="long">
        SELECT COUNT(*)
        FROM tbl_anonymous_board_comment
        WHERE anonymous_board_id = #{anonymousBoardId}
    </select>

</mapper>