<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.triumers.kmsback.anonymousboard.query.repository.QryAnonymousBoardMapper">

    <select id="findAllAnonymousBoard" resultType="org.triumers.kmsback.anonymousboard.query.dto.QryAnonymousBoardDTO">
        SELECT id, nickname, title, content, created_date AS createdDate, mac_address AS macAddress
        FROM tbl_anonymous_board
        ORDER BY id DESC
            LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="countAllAnonymousBoard" resultType="long">
        SELECT COUNT(*) FROM tbl_anonymous_board
    </select>

    <select id="searchAnonymousBoardByTitle" resultType="org.triumers.kmsback.anonymousboard.query.dto.QryAnonymousBoardDTO">
        SELECT id, nickname, title, content, created_date AS createdDate, mac_address AS macAddress
        FROM tbl_anonymous_board
        WHERE title LIKE CONCAT('%', #{param1}, '%')
        ORDER BY id DESC
            LIMIT #{param2.pageSize} OFFSET #{param2.offset}
    </select>

    <select id="countAnonymousBoardByTitle" resultType="long">
        SELECT COUNT(*) FROM tbl_anonymous_board WHERE title LIKE '%#{param1}%'
    </select>

    <select id="searchAnonymousBoardByContent" resultType="org.triumers.kmsback.anonymousboard.query.dto.QryAnonymousBoardDTO">
        SELECT id, nickname, title, content, created_date AS createdDate, mac_address AS macAddress
        FROM tbl_anonymous_board
        WHERE content LIKE CONCAT('%', #{param1}, '%')
        ORDER BY id DESC
            LIMIT #{param2.pageSize} OFFSET #{param2.offset}
    </select>

    <select id="countAnonymousBoardByContent" resultType="long">
        SELECT COUNT(*) FROM tbl_anonymous_board WHERE content LIKE '%#{param1}%'
    </select>

    <select id="searchAnonymousBoardByTitleAndContent" resultType="org.triumers.kmsback.anonymousboard.query.dto.QryAnonymousBoardDTO">
        SELECT id, nickname, title, content, created_date AS createdDate, mac_address AS macAddress
        FROM tbl_anonymous_board
        WHERE title LIKE CONCAT('%', #{param1}, '%') OR content LIKE CONCAT('%', #{param1}, '%')
        ORDER BY id DESC
            LIMIT #{param2.pageSize} OFFSET #{param2.offset}
    </select>

    <select id="countAnonymousBoardByTitleAndContent" resultType="long">
        SELECT COUNT(*) FROM tbl_anonymous_board WHERE title LIKE '%#{param1}%' OR content LIKE '%#{param1}%'
    </select>

    <select id="findAnonymousBoardById" resultType="org.triumers.kmsback.anonymousboard.query.dto.QryAnonymousBoardDTO">
        SELECT id, nickname, title, content, created_date AS createdDate, mac_address AS macAddress
        FROM tbl_anonymous_board
        WHERE id = #{id}
    </select>

</mapper>