<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.triumers.kmsback.approval.query.repository.QryRequestApprovalMapper">
    <select id="findById" resultType="org.triumers.kmsback.approval.query.dto.QryRequestApprovalInfoDTO">
        SELECT
            A.ID AS approvalId,
            RA.EMPLOYEE_ID AS approverId,
            RA.APPROVAL_ORDER AS approvalOrder,
            RA.IS_CANCELED AS isCanceled,
            RA.IS_APPROVED AS isApproved,
            A.CONTENT AS content,
            A.CREATED_AT AS createdAt,
            T.TYPE AS type,
            A.EMPLOYEE_ID AS requesterId
        FROM tbl_request_approval RA
                 JOIN tbl_approval A ON A.ID = RA.APPROVAL_ID
                 JOIN tbl_approval_type T ON A.TYPE_ID = T.ID
        WHERE A.EMPLOYEE_ID = #{requesterId}
          AND RA.APPROVAL_ID = #{approvalId}
          AND RA.APPROVAL_ORDER = (SELECT MAX(APPROVAL_ORDER) FROM tbl_request_approval WHERE APPROVAL_ID = RA.APPROVAL_ID);
    </select>

    <select id="findQryRequestApprovalInfo" resultType="org.triumers.kmsback.approval.query.dto.QryRequestApprovalInfoDTO">
        SELECT
        RA.ID AS requestApprovalId,
        RA.APPROVAL_ORDER AS approvalOrder,
        RA.IS_CANCELED AS isCanceled,
        RA.IS_APPROVED AS isApproved,
        A.ID AS approvalId,
        A.CONTENT AS content,
        A.CREATED_AT AS createdAt,
        T.ID AS typeId,
        T.TYPE AS type,
        A.EMPLOYEE_ID AS requesterId,
        RA.EMPLOYEE_ID AS approverId,
        COUNT(*) OVER() AS totalCount
        FROM tbl_request_approval RA
        JOIN tbl_approval A ON A.ID = RA.APPROVAL_ID
        JOIN tbl_approval_type T ON A.TYPE_ID = T.ID
        WHERE A.EMPLOYEE_ID = #{requesterId}
        AND RA.APPROVAL_ORDER = (SELECT MAX(APPROVAL_ORDER) FROM tbl_request_approval WHERE APPROVAL_ID = RA.APPROVAL_ID)
        <if test="typeId != null">
            AND A.TYPE_ID = #{typeId}
        </if>
        <if test="startDate != null and endDate != null">
            AND A.CREATED_AT BETWEEN #{startDate} AND #{endDate}
        </if>
        <if test="keyword != null">
            AND A.CONTENT LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="status != null">
            AND RA.IS_APPROVED = #{status}
        </if>
        LIMIT #{offset}, #{limit}
    </select>

    <select id="findReceivedById" resultType="org.triumers.kmsback.approval.query.dto.QryRequestApprovalInfoDTO">
        SELECT
            RA.ID AS requestApprovalId,
            A.ID AS approvalId,
            RA.EMPLOYEE_ID AS approverId,
            RA.IS_CANCELED AS isCanceled,
            RA.IS_APPROVED AS isApproved,
            A.CONTENT AS content,
            A.CREATED_AT AS createdAt,
            T.TYPE AS type,
            A.EMPLOYEE_ID AS requesterId
        FROM tbl_request_approval RA
                 JOIN tbl_approval A ON A.ID = RA.APPROVAL_ID
                 JOIN tbl_approval_type T ON A.TYPE_ID = T.ID
        WHERE RA.EMPLOYEE_ID = #{approverId}
          AND RA.ID = #{requestApprovalId}
    </select>

    <select id="findReceivedQryRequestApprovalInfo" resultType="org.triumers.kmsback.approval.query.dto.QryRequestApprovalInfoDTO">
        SELECT
        RA.ID AS requestApprovalId,
        RA.IS_CANCELED AS isCanceled,
        RA.IS_APPROVED AS isApproved,
        A.ID AS approvalId,
        A.CONTENT AS content,
        A.CREATED_AT AS createdAt,
        T.ID AS typeId,
        T.TYPE AS type,
        A.EMPLOYEE_ID AS requesterId,
        RA.EMPLOYEE_ID AS approverId,
        COUNT(*) OVER() AS totalCount
        FROM tbl_request_approval RA
        JOIN tbl_approval A ON A.ID = RA.APPROVAL_ID
        JOIN tbl_approval_type T ON A.TYPE_ID = T.ID
        WHERE RA.EMPLOYEE_ID = #{approverId}
        <if test="typeId != null">
            AND A.TYPE_ID = #{typeId}
        </if>
        <if test="startDate != null and endDate != null">
            AND A.CREATED_AT BETWEEN #{startDate} AND #{endDate}
        </if>
        <if test="keyword != null">
            AND A.CONTENT LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="status != null">
            AND RA.IS_APPROVED = #{status}
        </if>
        LIMIT #{offset}, #{limit}
    </select>
</mapper>